<div class="fullview" ng-show="$root.viewColor" style="background-color:#{{$root.viewColor.replace('#','')}}"><button ng-click="$root.viewColor = false;">CLOSE</button></div>
<table>
    <tr ng-repeat="color in colorData" ng-click="$root.viewColor = color.hex">

        <td ng-if="$index == 0" ng-click="">
            <div class="drop-list">
                <div ng-click="$parent.showOpts = !$parent.showOpts; $parent.$parent.yearFilter = year" ng-show="showOpts || $index == 0" ng-class="{'drop-title':$index==0}" ng-repeat="year in availableYears()" >
                    {{year}}
                </div>
            </div>
        </td>
        <td ng-if="$index > 0">
            {{color.year}}
        </td>
        <td style="{'border-left: 25px solid #'+color.hex}}">
            {{color["name"]}}
        </td>
        <td style="{{'border-left: 25px solid #'+color.hex}}">
            {{color["code"]||"N/A"}}
        </td>
        <td style="{{'border-left: 25px solid #'+color.hex}}">
            <div class="row-ribbon" style="background-color: #{{color.hex}} "></div>
            {{color.hex}}
        </td>
    </tr>
</table>